*

!.gitignore

!.bashrc
!.profile
!.sudo_as_admin_successful
!.tmux.conf
!.vimrc

!.config
!.config/**

!.initfiles
!.initfiles/**

!.ssh
!.ssh/authorized_keys

!.vim
!.vim/ftplugin
!.vim/ftplugin/**
